@import "tailwindcss" source(".");

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@theme {
  --color-darkbg: #000000;
}
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.video-filter {
  filter: contrast(1.05) saturate(1.1) sepia(0.1) hue-rotate(-5deg) blur(4px);
  transform: scale(1.02);
  transition: filter 600ms ease;
}

.chat-shadow {
  box-shadow:
    0 6px 30px rgba(0, 0, 0, 0.6),
    inset 0 1px 0 rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(6px) saturate(120%);
}

/* Make the video ignore pointer events and be treated as decorative */
video-filter.pointer-events-none {
  pointer-events: none;
}
